* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.section-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation-bar {
  height: 61px;
  width: 100%;
  display: flex;
}

.navigation-bar__button {
  height: 100%;
  width: 50%;
  border: none;
  font-size: 18px;
  color: #ffffff;
}

.inbox-button {
  background-color: #393939;
}

.sent-button {
  background-color: #888888;
}

.main {
  background-color: #fff59b;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 25px 20px;
  height: 512px;
}

.main-title-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.main__title {
  font-size: 60px;
  margin: 0;
  margin-bottom: 14px;
}

.main-email-container {
  height: 73px;
  border: 1px solid #000000;
  background-color: #fffde8;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 14px;
}

.main__email {
  flex-grow: 1;
}
